body {
    margin: 0 auto;
    max-width: 1000px;
    /* margin-top: 20px; */
}

.header {
    background-color: #fff;
    /* border-bottom: solid 1px #ddd; */
    /* max-width: 1000px; */
    padding: 0px 0px 10px 0px;
}

.header__inner {
    position: relative;
}

.header__logo {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.header__btn {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

input[type="submit"] {
    background: #ddd;
    padding: 5px 20px;
    border: solid 1px #ddd;
    font-size: 15px;
    cursor: pointer;
}

    /* main */
main {
    
    padding-bottom: 100px;
}

.admin__content {
    margin: 0 auto;
    /* padding: 30px 15px; */
    padding: 0px 0px 10px 0px;
    font-size: 12px;
    text-align: center;
}

form {
    text-align: center;
}

.admin-form input[type="text"],
.admin-form input[type="date"],
.admin-form select {
    padding: 10px 0px 10px 5px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    font-size: 12px;
    margin-right: 10px;
}

.admin-form input[type="text"] {
    width: 250px;
}


input[name="search"] {
    background-color: rgb(150, 123, 92);
    padding: 10px 30px;
    font-size: 12px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

input[name="reset"] {
    background-color: rgb(214, 191, 162);
    padding: 10px 20px;
    font-size: 12px;
    border: none;
        color: #fff;
        cursor: pointer;
}

.export {
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
}

input[name="export"] {
    margin-left: 20px;
    background: #ddd;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.pagenate {
    align-items: center;
    margin-right: 100px;
}

.page-btn {
    padding: 5px 10px 5px 10px;
    background: #fff;
    cursor: pointer;
    margin: -5px;
    font-size: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table {
    /* max-width: 1230px; */
    margin: 0 auto;
    border-collapse: collapse;
    border:  1px solid #ddd;
    font-size: 12px;
}

th, td {
    padding: 10px 30px;
    text-align: justify;
    border-bottom: 1px solid #ddd;
}

th:nth-child(1),
td:nth-child(1) {
    width: 60px;
}

th:nth-child(2),
th:nth-child(5),
td:nth-child(2),
td:nth-child(5) {
    width: 50px;
    text-align: center;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
    width: 175px;
}

th {
    background: rgb(150, 123, 92);
    color: #fff;
}

.detail-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
     /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5.5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    position: relative;
}

.close {
    color: #aaa;
    border: solid 1px #ddd;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.delete-btn-container {
    margin-top: 30px;
}

.delete-btn {
    background-color: #d32f2f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}